<div class="page-header">
  <h1>Team</h1>
</div>

<div class="text-center" id="team">
  <div class="row">
    {{# each team }}
    <div class="col-lg-3">
      <div class="thumbnail">
        <img src="/img/team/{{ photo }}" alt="{{ name }}" class="img-responsive img-rounded">
        <div class="caption">
          <h4>{{ name }}</h4>
          <p>{{ position }}</p>
          <p>{{ bio }}</p>
          <ul class="list-inline list-unstyled social-links">
            {{# if social.linkedin }}
              <li><a href="{{ social.linkedin }}" target="_blank"><img src="/img/linkedin.png" /></a></li>
            {{/ if }}
            {{# if social.email }}
              <li><a href="mailto:{{ social.email }}"><img src="/img/email.png" /></a></li>
            {{/ if }}
          </ul>
        </div>
      </div>
    </div>
    {{/ each }}
  </div>
</div>
