= form_for(preregistration) do |f|
  - if preregistration.errors.any?
    #error_explanation
      %h2
        = pluralize(preregistration.errors.count, "error")
        prohibited this preregistration from being saved:
      %ul
        - preregistration.errors.full_messages.each do |message|
          %li= message
  .field
    = f.label :name
    = f.text_field :name
  .field
    = f.label :email
    = f.text_field :email
  .field
    = f.label :domain
    = f.text_field :domain
  .field
    = f.label :subscription
    = f.check_box :subscription
  .actions
    = f.submit
